
h1{
    font-family: cursive;
    font-size: 22px;
    color: #03bcda;
    user-select: none;
    font-weight: bold;
}

p{
    font-family: cursive;
    font-size: 15px;
    color: #03bcda;
    user-select: none;
    font-weight: bold;
}

.wrapper{
    margin: 0px auto;
}

.header {
    display:flex;
    width: 100%;
    background: tomato;
    border-radius: 5px 5px 0 0;
    justify-content: flex-start;
}

.logo{
    margin: 10px;
    width: 175px;
}

.main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    background: gray;
}

.name_poke{
    width: 86%;
    max-width: 350px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.content_pokemons{
    border-radius: 10px;
    text-align: center;
}

.status{
    width: 90%;
    max-width: 360px;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
    text-align: center;
}

td{
    font-family: cursive;
    font-size: 15px;
    color: #03bcda;
    user-select: none;
    font-weight: bold;
}

span{
    color: red !important;
}

.footer{
    display: flex;
    background-color: white;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon{
    width: 85px;
    border: solid silver;
    border-radius: 28px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(207, 198, 198);
    cursor: pointer;
}

.pokemon_main{
    width: 125px;
    margin: 0 auto;
}

.pokemon:hover{
    background-color: rgb(172, 76, 76);
    box-shadow: 5px 5px 5px 5px black;
}

#footer_poke{
    display: flex;
    background-color: white;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
}

@media (min-width: 850px) and (max-width: 1009px) {

    .header {
        justify-content: center;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    td{
        font-size: 10px;
    }

    .status{
        margin-top: 25px;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }

    #footer_poke{
        width: 450px;
    }
}

@media (min-width: 1010px) and (max-width: 1099px){    
    #footer_poke{
        width: 600px;
    }
}

@media (max-width: 385px) and (min-width: 315px){
    .pokemon{
        width: 60px;
    }

    h1{
        font-size: 15px;
    }
    
    td{
        font-size: 10px;
    }
}
@media (max-width: 520px) and (min-width: 410px){
    .pokemon{
        width: 92px;
    }
}