body{
    background-color: black;
}

p{
    font-family: cursive;
    font-size: 22px;
    color: #03bcda;
    user-select: none;
    font-weight: bold;
}

.wrapper{
    width: 90%;
    margin: 0px auto;
    border: solid red 5px;
    background-color: gray;
    border-radius: 10px;
}

.header {
    display:flex;
    width: 100%;
    background: tomato;
    border-radius: 5px 5px 0 0;
    justify-content: flex-start;
}

.logo{
    margin: 10px;
    width: 250px;
}

.main{
    display:flex;
    justify-content: center;
}

.name_poke{
    width: 350px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.content_pokemons{
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 35vh;
}

.status{
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 360px;
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
    text-align: center;
}

td{
    font-family: cursive;
    font-size: 22px;
    color: #03bcda;
    user-select: none;
    font-weight: bold;
}

span{
    color: red !important;
}

.footer{
    display: flex;
    background-color: white;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon{
    width: 85px;
    border: solid silver;
    border-radius: 28px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(207, 198, 198);
    cursor: pointer;
}

.pokemon_main{
    width: 205px;
    margin-left: 85px;
}

.pokemon:hover{
    background-color: rgb(172, 76, 76);
    box-shadow: 5px 5px 5px 5px black;
}

@media (min-width: 850px) and (max-width: 1009px) {

    .wrapper{
        border: solid red 4px;
    }

    .header {
        justify-content: center;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .content_pokemons {
        height: 10vh;
    }

    td{
        font-size: 10px;
    }

    .status{
        margin-top: 25px;
    }

    .footer{
        flex-direction: column;
        align-items: center;
    }

    #footer_poke{
        width: 450px;
        margin-left: 90px;
    }
}

@media (min-width: 1010px) and (max-width: 1099px){    
    #footer_poke{
        width: 600px;
    }
}